.bgSub{
  background: rgb(255,255,255);
  background: linear-gradient( rgba(255,255,255,1) 0%, rgba(9,9,121,1) 46%, rgba(255,255,255,1) 100%);
  @apply mt-20 lg:mt-44 p-8 flex justify-center flex-col shadow-xl
}
.formContainer{
  width: 100%;
  @apply mt-8 flex justify-center items-center
}
.input{
  @apply p-2 lg:p-4 rounded-md;
  width:40vw;
}
.btnSub{
  @apply p-2 lg:p-4 text-white bg-blue-800 lg:ml-4 rounded-md capitalize font-mono font-bold mt-3 lg:mt-0 text-xs lg:text-xl cursor-pointer hover:border border-blue-700 hover:text-blue-700 hover:bg-white;
  width:160px; 
}
.input:hover::placeholder{
  color:blue
}
@media only screen and (max-width:600px){
  .input{
    width:100%;
  }
  .btnSub{
    width:100%;
  }
  .input::placeholder{
    font-size:10px;
  }


}